@font-face{

    font-family: f1;
    src: url('abel.ttf');
}

@font-face{

    font-family: f2;
    src: url('abg.ttf');


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

.navbar{
    display: flex;
    background-color: #E8564A;
    padding: 40px;
    list-style: none;
    position: fixed;
  
    
}

.navbar a{

   
    margin: auto;
    font-family: f2;
    font-size: 20px;
    text-decoration: none;
    color: #FFB229;
    padding: 10px;

}

.navbar a:hover{
    text-decoration: none;
    color: #eae76d;
    

}

h2{

    padding-top: 40px;
    font-family: f2;
    color: teal;

}

label{

    font-family: f1;
    font-weight: bold;
    text-align: center;

}

div{

    margin: auto;

}


div.signup_con{

    background-image: url('bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

  
}

button{

    background-color:  #626566;
    color: wheat;
    float: center;
    
    

}

button:hover{

    background-color: wheat;
    color: #146473;
}

button.regbtn{

    border-radius: 10px;
    

}

button.cancelbtn{

    border-radius: 10px;

}

button.loginbtn{

    border-radius: 10px;

}

input::placeholder{

    font-family: f1;
    
    
}

div.login_con{

    padding: 300px;
    background-image: url('bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

   
    

}

div.col-md-3{

    border: 3px double teal;
    padding-left: 20px;



}

div.form-group-two{

    padding-left: 40px;
    padding-right: 40px;

    
}

h1{

    font-family: f2;
    font-size: 10px;
    color: teal;
    padding-top: 20px;


}

/* Footer */

footer {
    background: black;
    line-height: 3.0em;
    height: 50px;
    color: white;
}

